[project]
name = "embed-fixer"
requires-python = ">=3.11"

[tool.poetry]
authors = ["seriaati <seria.ati@gmail.com>"]
description = "Discord bot that fixes social media embeds"
license = "GPL-3.0"
name = "embed-fixer"
readme = "README.md"
version = "1.2.4"

[tool.poetry.dependencies]
aiofiles = "^23.2.1"
aiohttp-client-cache = {extras = ["sqlite"], version = "^0.11.0"}
discord-py = {extras = ["speed"], version = "^2.3.2"}
jishaku = "^2.5.2"
python = "^3.11"
python-dotenv = "^1.0.1"
pyyaml = "^6.0.1"
seria-library = {git = "https://github.com/seriaati/seria-library"}
tortoise-orm = {extras = ["asyncpg"], version = "^0.20.0"}

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
git-cliff = "^1.4.0"
pre-commit = "^3.6.1"
ruff = "^0.2.1"

[tool.poetry.group.linux]
optional = true

[tool.poetry.group.linux.dependencies]
uvloop = "^0.19.0"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core"]
