name: Create release

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  seria:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
        
      - name: Create release
        uses: seriaati/create-release@main